{% comment %}
    Renders a list of product's price (regular, sale, unit)
    Accompanies product listings (collection page, search result) and not updated dynamically
    Accepts:
    - variant: {Object} Variant Liquid object (optional)
    - product: {Object} Product Liquid object (optional)
    - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

    Usage:
    {% include 'product-price-listing', product: product %}
{% endcomment %}

  <style>
.price-save {
  color: #0a7a3c;
  font-size: 13px;
  font-weight: 600;
  margin-left: 8px;
}

.price-discount {
  color: #173250;
  font-size: 13px;
  font-weight: 600;
  margin-left: 6px;
}

@media only screen and (max-width:767px){
.price-discount{
 font-size: 9px;
}

.price-item--sale, .sale-color{
margin-right: 4px !important;
}
.price--on-sale .price-item--regular{
 font-size: 15px;
 margin-left: 0 !important;
}
.price-discount{
margin-left: 2px !important;
}
.product-info .price-item--sale{
  font-size: 15px !important;
}

.price--on-sale .price__sale{

gap: 0 !important;}
}

    </style>

    
{%- liquid
  if product.title
    assign compare_at_price = product.compare_at_price
    assign price = product.price
    assign available = product.available
    assign variant = product.variants.first
  else
    assign compare_at_price = 1999
    assign price = 1999
    assign available = true
  endif

  assign money_price = price | money
-%}

<div class="price price--listing
  {%- if available == false %} price--sold-out {% endif -%}
  {%- if compare_at_price > price %} price--on-sale {% endif -%}
  {%- if product.price_varies == false and product.compare_at_price_varies %} price--compare-price-hidden {% endif -%}
  {%- if variant.unit_price_measurement %} price--unit-available {% endif -%}"
>

  <dl class="price__regular">
    <dt>
      <span class="visually-hidden visually-hidden--inline">{{ 'products.general.regular_price' | t }}</span>
    </dt>
    <dd>
      <span class="price-item price-item--regular">
        {%- if product.price_varies -%}
          {{ 'products.product.from_lowest_price_html' | t: lowest_price: money_price }}
        {%- else -%}
          {{ money_price }}
        {%- endif -%}
      </span>
    </dd>
  </dl>
  <dl class="price__sale">
    {% comment %} <dt>
      <span class="visually-hidden visually-hidden--inline">{{ 'products.general.sale_price' | t }}</span>
    </dt> {% endcomment %}
    <dd>
      <span class="price-item price-item--sale bbbbbbbb">
        {%- if product.price_varies -%}
          {{ 'products.product.from_lowest_price_html' | t: lowest_price: money_price }}
        {%- else -%}
          {{ money_price | replace: '.00', ''  }}
        {%- endif -%}
      </span>
    </dd>
    {% comment %} <dt>
      <span class="visually-hidden visually-hidden--inline">{{ 'products.general.regular_price' | t }}</span>
    </dt> {% endcomment %}
    <dd>
      <s class="price-item price-item--regular">
        {{ compare_at_price | money | replace: '.00', '' }}
      </s>
{%- assign savings = compare_at_price | minus: price -%}
{%- assign discount_percentage = savings | times: 100.0 | divided_by: compare_at_price | round -%}

  
     
        {% if compare_at_price > price %}
    {% comment %} <span class="price-save">
      Save {{ savings | money_without_trailing_zeros }}
    </span> {% endcomment %}

    <span class="price-discount">
      {{ discount_percentage }}% OFF
    </span>
  {% endif %}
    </dd>
  </dl>
  <dl class="price__unit">
    <dt>
      <span class="visually-hidden visually-hidden--inline">{{ 'products.product.unit_price_label' | t }}</span>
    </dt>
    <dd class="price-unit-price">
      {%- capture unit_price_separator -%}
        <span aria-hidden="true">/</span>
      {%- endcapture -%}
      {%- capture unit_price_base_unit -%}
        <span>
          {%- if variant.unit_price_measurement -%}
            {%- if variant.unit_price_measurement.reference_value != 1 -%}
              {{- variant.unit_price_measurement.reference_value -}}
            {%- endif -%}
            {{ variant.unit_price_measurement.reference_unit }}
          {%- endif -%}
        </span>
      {%- endcapture -%}

      <span>{{ variant.unit_price | money }}</span>{{- unit_price_separator -}}{{- unit_price_base_unit -}}
    </dd>
  </dl>
</div>
