{%- liquid

  assign option_name = option.name | downcase
  assign color_swatch_options = settings.swatch_option_names | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | downcase
  assign current_option = "option" | append: option.position
  assign other_options = "option1 option2 option3" | remove: current_option | strip | split: " "
  assign size_swatches = "size, sizes" | split: ", "

-%}

<div class="swatches__container js-variant-selector product__section--element" data-option-index="{{ option.position }}" data-other-options='{{ other_options | json }}'>

  {% unless template == 'product.quick' %}
    {% if show_size_chart and size_swatches contains option_name %}
      <div class="size-chart">
        <button
          class="button-as-link js-modal-open"
          type="button"
          name="button"
          aria-label="Open popup"
          data-wau-modal-target="product-modal--{{ section.id }}--{{ forloop.index }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="12" viewBox="0 0 30 12" fill="none">
            <g id="Shape">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.687357 11H28.8126C29.0481 11 29.25 10.7761 29.25 10.5149V2.97761C29.25 1.85821 28.4762 1 27.4669 1H2.03306C1.02378 1 0.25 1.85821 0.25 2.97761V10.5149C0.25 10.8134 0.418215 11 0.687357 11ZM3.94943 4.73095C3.94943 4.43245 3.78122 4.24588 3.51208 4.24588C3.24293 4.24588 3.07472 4.43245 3.07472 4.73095V10.0295H1.12344V2.97722C1.12344 2.45483 1.5608 1.96976 2.0318 1.96976H27.4657C27.9703 1.96976 28.374 2.41752 28.374 2.97722V10.0295H26.49V4.73095C26.49 4.43245 26.3218 4.24588 26.0527 4.24588C25.7835 4.24588 25.6153 4.43245 25.6153 4.73095V10.0295H23.664V6.70857C23.664 6.41006 23.4958 6.22349 23.2267 6.22349C22.9576 6.22349 22.7893 6.41006 22.7893 6.70857V10.0295H20.8381V6.70857C20.8381 6.41006 20.6698 6.22349 20.4007 6.22349C20.1316 6.22349 19.9634 6.41006 19.9634 6.70857V10.0295H18.0121V6.70857C18.0121 6.41006 17.8439 6.22349 17.5747 6.22349C17.3056 6.22349 17.1374 6.41006 17.1374 6.70857V10.0295H15.1861V4.73095C15.1861 4.43245 15.0179 4.24588 14.7487 4.24588C14.4796 4.24588 14.3114 4.43245 14.3114 4.73095V10.0295H12.4274V6.70857C12.4274 6.41006 12.2592 6.22349 11.99 6.22349C11.7209 6.22349 11.5527 6.41006 11.5527 6.70857V10.0295H9.6014V6.70857C9.6014 6.41006 9.43319 6.22349 9.16405 6.22349C8.89491 6.22349 8.72669 6.41006 8.72669 6.70857V10.0295H6.77542V6.70857C6.77542 6.41006 6.6072 6.22349 6.33806 6.22349C6.06892 6.22349 5.90071 6.41006 5.90071 6.70857V10.0295H3.94943V4.73095Z" fill="#041E3A"/>
            <path d="M3.07472 10.0295H3.17472V10.1295H3.07472V10.0295ZM1.12344 10.0295V10.1295H1.02344V10.0295H1.12344ZM28.374 10.0295H28.474V10.1295H28.374V10.0295ZM26.49 10.0295V10.1295H26.39V10.0295H26.49ZM25.6153 10.0295H25.7153V10.1295H25.6153V10.0295ZM23.664 10.0295V10.1295H23.564V10.0295H23.664ZM22.7893 10.0295H22.8893V10.1295H22.7893V10.0295ZM20.8381 10.0295V10.1295H20.7381V10.0295H20.8381ZM19.9634 10.0295H20.0634V10.1295H19.9634V10.0295ZM18.0121 10.0295V10.1295H17.9121V10.0295H18.0121ZM17.1374 10.0295H17.2374V10.1295H17.1374V10.0295ZM15.1861 10.0295V10.1295H15.0861V10.0295H15.1861ZM14.3114 10.0295H14.4114V10.1295H14.3114V10.0295ZM12.4274 10.0295V10.1295H12.3274V10.0295H12.4274ZM11.5527 10.0295H11.6527V10.1295H11.5527V10.0295ZM9.6014 10.0295V10.1295H9.5014V10.0295H9.6014ZM8.72669 10.0295H8.82669V10.1295H8.72669V10.0295ZM6.77542 10.0295V10.1295H6.67542V10.0295H6.77542ZM5.90071 10.0295H6.00071V10.1295H5.90071V10.0295ZM3.94943 10.0295V10.1295H3.84943V10.0295H3.94943ZM28.8126 11.1H0.687357V10.9H28.8126V11.1ZM29.35 10.5149C29.35 10.8214 29.1129 11.1 28.8126 11.1V10.9C28.9834 10.9 29.15 10.7309 29.15 10.5149H29.35ZM29.35 2.97761V10.5149H29.15V2.97761H29.35ZM27.4669 0.9C28.5409 0.9 29.35 1.81297 29.35 2.97761H29.15C29.15 1.90344 28.4115 1.1 27.4669 1.1V0.9ZM2.03306 0.9H27.4669V1.1H2.03306V0.9ZM0.15 2.97761C0.15 1.81297 0.959064 0.9 2.03306 0.9V1.1C1.0885 1.1 0.35 1.90344 0.35 2.97761H0.15ZM0.15 10.5149V2.97761H0.35V10.5149H0.15ZM0.687357 11.1C0.528482 11.1 0.390671 11.0442 0.293482 10.9364C0.197357 10.8298 0.15 10.6825 0.15 10.5149H0.35C0.35 10.6459 0.386751 10.7411 0.442019 10.8024C0.496222 10.8626 0.577089 10.9 0.687357 10.9V11.1ZM3.51208 4.14588C3.67095 4.14588 3.80876 4.20172 3.90595 4.30951C4.00207 4.41612 4.04943 4.56342 4.04943 4.73095H3.84943C3.84943 4.59998 3.81268 4.50474 3.75741 4.44344C3.70321 4.38332 3.62234 4.34588 3.51208 4.34588V4.14588ZM2.97472 4.73095C2.97472 4.56342 3.02208 4.41612 3.1182 4.30951C3.21539 4.20172 3.3532 4.14588 3.51208 4.14588V4.34588C3.40181 4.34588 3.32094 4.38332 3.26674 4.44344C3.21147 4.50474 3.17472 4.59998 3.17472 4.73095H2.97472ZM2.97472 10.0295V4.73095H3.17472V10.0295H2.97472ZM1.12344 9.92946H3.07472V10.1295H1.12344V9.92946ZM1.22344 2.97722V10.0295H1.02344V2.97722H1.22344ZM2.0318 2.06976C1.83088 2.06976 1.62916 2.17387 1.47527 2.34456C1.32172 2.51486 1.22344 2.74346 1.22344 2.97722H1.02344C1.02344 2.6886 1.14385 2.41347 1.32673 2.21063C1.50926 2.00819 1.76171 1.86976 2.0318 1.86976V2.06976ZM27.4657 2.06976H2.0318V1.86976H27.4657V2.06976ZM28.274 2.97722C28.274 2.46276 27.9056 2.06976 27.4657 2.06976V1.86976C28.035 1.86976 28.474 2.37229 28.474 2.97722H28.274ZM28.274 10.0295V2.97722H28.474V10.0295H28.274ZM26.49 9.92946H28.374V10.1295H26.49V9.92946ZM26.59 4.73095V10.0295H26.39V4.73095H26.59ZM26.0527 4.14588C26.2116 4.14588 26.3494 4.20172 26.4466 4.30951C26.5427 4.41612 26.59 4.56342 26.59 4.73095H26.39C26.39 4.59998 26.3533 4.50474 26.298 4.44344C26.2438 4.38332 26.1629 4.34588 26.0527 4.34588V4.14588ZM25.5153 4.73095C25.5153 4.56342 25.5627 4.41612 25.6588 4.30951C25.756 4.20172 25.8938 4.14588 26.0527 4.14588V4.34588C25.9424 4.34588 25.8615 4.38332 25.8073 4.44344C25.7521 4.50474 25.7153 4.59998 25.7153 4.73095H25.5153ZM25.5153 10.0295V4.73095H25.7153V10.0295H25.5153ZM23.664 9.92946H25.6153V10.1295H23.664V9.92946ZM23.764 6.70857V10.0295H23.564V6.70857H23.764ZM23.2267 6.12349C23.3856 6.12349 23.5234 6.17933 23.6206 6.28712C23.7167 6.39374 23.764 6.54103 23.764 6.70857H23.564C23.564 6.57759 23.5273 6.48235 23.472 6.42105C23.4178 6.36093 23.337 6.32349 23.2267 6.32349V6.12349ZM22.6893 6.70857C22.6893 6.54103 22.7367 6.39374 22.8328 6.28712C22.93 6.17933 23.0678 6.12349 23.2267 6.12349V6.32349C23.1164 6.32349 23.0356 6.36093 22.9814 6.42105C22.9261 6.48235 22.8893 6.57759 22.8893 6.70857H22.6893ZM22.6893 10.0295V6.70857H22.8893V10.0295H22.6893ZM20.8381 9.92946H22.7893V10.1295H20.8381V9.92946ZM20.9381 6.70857V10.0295H20.7381V6.70857H20.9381ZM20.4007 6.12349C20.5596 6.12349 20.6974 6.17933 20.7946 6.28712C20.8907 6.39374 20.9381 6.54103 20.9381 6.70857H20.7381C20.7381 6.57759 20.7013 6.48235 20.646 6.42105C20.5918 6.36093 20.511 6.32349 20.4007 6.32349V6.12349ZM19.8633 6.70857C19.8633 6.54103 19.9107 6.39374 20.0068 6.28712C20.104 6.17933 20.2418 6.12349 20.4007 6.12349V6.32349C20.2904 6.32349 20.2096 6.36093 20.1554 6.42105C20.1001 6.48235 20.0634 6.57759 20.0634 6.70857H19.8633ZM19.8633 10.0295V6.70857H20.0634V10.0295H19.8633ZM18.0121 9.92946H19.9634V10.1295H18.0121V9.92946ZM18.1121 6.70857V10.0295H17.9121V6.70857H18.1121ZM17.5747 6.12349C17.7336 6.12349 17.8714 6.17933 17.9686 6.28712C18.0647 6.39374 18.1121 6.54103 18.1121 6.70857H17.9121C17.9121 6.57759 17.8753 6.48235 17.8201 6.42105C17.7659 6.36093 17.685 6.32349 17.5747 6.32349V6.12349ZM17.0374 6.70857C17.0374 6.54103 17.0847 6.39374 17.1808 6.28712C17.278 6.17933 17.4158 6.12349 17.5747 6.12349V6.32349C17.4645 6.32349 17.3836 6.36093 17.3294 6.42105C17.2741 6.48235 17.2374 6.57759 17.2374 6.70857H17.0374ZM17.0374 10.0295V6.70857H17.2374V10.0295H17.0374ZM15.1861 9.92946H17.1374V10.1295H15.1861V9.92946ZM15.2861 4.73095V10.0295H15.0861V4.73095H15.2861ZM14.7487 4.14588C14.9076 4.14588 15.0454 4.20172 15.1426 4.30951C15.2387 4.41612 15.2861 4.56342 15.2861 4.73095H15.0861C15.0861 4.59998 15.0493 4.50474 14.9941 4.44344C14.9399 4.38332 14.859 4.34588 14.7487 4.34588V4.14588ZM14.2114 4.73095C14.2114 4.56342 14.2587 4.41612 14.3549 4.30951C14.452 4.20172 14.5899 4.14588 14.7487 4.14588V4.34588C14.6385 4.34588 14.5576 4.38332 14.5034 4.44344C14.4481 4.50474 14.4114 4.59998 14.4114 4.73095H14.2114ZM14.2114 10.0295V4.73095H14.4114V10.0295H14.2114ZM12.4274 9.92946H14.3114V10.1295H12.4274V9.92946ZM12.5274 6.70857V10.0295H12.3274V6.70857H12.5274ZM11.99 6.12349C12.1489 6.12349 12.2867 6.17933 12.3839 6.28712C12.48 6.39374 12.5274 6.54103 12.5274 6.70857H12.3274C12.3274 6.57759 12.2906 6.48235 12.2354 6.42105C12.1812 6.36093 12.1003 6.32349 11.99 6.32349V6.12349ZM11.4527 6.70857C11.4527 6.54103 11.5 6.39374 11.5962 6.28712C11.6933 6.17933 11.8312 6.12349 11.99 6.12349V6.32349C11.8798 6.32349 11.7989 6.36093 11.7447 6.42105C11.6894 6.48235 11.6527 6.57759 11.6527 6.70857H11.4527ZM11.4527 10.0295V6.70857H11.6527V10.0295H11.4527ZM9.6014 9.92946H11.5527V10.1295H9.6014V9.92946ZM9.7014 6.70857V10.0295H9.5014V6.70857H9.7014ZM9.16405 6.12349C9.32292 6.12349 9.46073 6.17933 9.55792 6.28712C9.65405 6.39374 9.7014 6.54103 9.7014 6.70857H9.5014C9.5014 6.5776 9.46465 6.48235 9.40938 6.42105C9.35518 6.36093 9.27431 6.32349 9.16405 6.32349V6.12349ZM8.62669 6.70857C8.62669 6.54103 8.67405 6.39374 8.77017 6.28712C8.86736 6.17933 9.00517 6.12349 9.16405 6.12349V6.32349C9.05378 6.32349 8.97291 6.36093 8.91871 6.42105C8.86344 6.48235 8.82669 6.57759 8.82669 6.70857H8.62669ZM8.62669 10.0295V6.70857H8.82669V10.0295H8.62669ZM6.77542 9.92946H8.72669V10.1295H6.77542V9.92946ZM6.87542 6.70857V10.0295H6.67542V6.70857H6.87542ZM6.33806 6.12349C6.49693 6.12349 6.63475 6.17933 6.73194 6.28712C6.82806 6.39374 6.87542 6.54103 6.87542 6.70857H6.67542C6.67542 6.57759 6.63866 6.48235 6.5834 6.42105C6.52919 6.36093 6.44833 6.32349 6.33806 6.32349V6.12349ZM5.8007 6.70857C5.8007 6.54103 5.84806 6.39374 5.94419 6.28712C6.04138 6.17933 6.17919 6.12349 6.33806 6.12349V6.32349C6.22779 6.32349 6.14693 6.36093 6.09272 6.42105C6.03746 6.48235 6.00071 6.5776 6.00071 6.70857H5.8007ZM5.8007 10.0295V6.70857H6.00071V10.0295H5.8007ZM3.94943 9.92946H5.90071V10.1295H3.94943V9.92946ZM4.04943 4.73095V10.0295H3.84943V4.73095H4.04943Z" fill="#041E3A"/>
            </g>
          </svg>
          {{ size_chart_label }}
        </button>

        <!-- modal content -->
         {% render 'size-chart' %}

      </div>

    {% endif %}
  {% endunless %}

  <p class="swatches__option-name dcolor {{ option.name | downcase }}">{{ option.name }}: {% for value in option.values %}
    {% if option.selected_value == value %}
      {% if option.name contains "Size" %}
        {% continue %}
      {% endif %}
    <span id="selected-option-{{ option.position }}" class="swatches__option-value">{{ value }}</span>
  {% endif %}{% endfor %}</p>

  {% for value in option.values %}
    {%- liquid

      assign image_url = value | handle | append: '.png' | file_url
      assign css_color = value | split: ' ' | last | handle
      assign available = false
      assign swatch_image_url = nil
      if value.swatch.image
        assign swatch_image_url = value.swatch.image | image_url: width: 50
      endif
      if value.swatch.color and color_swatch_style == 'swatch'
        assign css_color = value.swatch.color
      endif

    -%}

    <!-- Checking Availability -->
    {%- liquid

      assign available = false

      for variant in product.variants
        unless variant.available
          continue
        endunless

        unless variant[current_option] == value
          continue
        endunless

        unless variant[other_options[0]] == current_variant[other_options[0]]
          continue
        endunless

        unless variant[other_options[1]] == current_variant[other_options[1]]
          continue
        endunless

        assign available = true
      endfor

    -%}

    <!-- Building Variant Image -->
    {%- liquid

      for variant in product.variants
        unless variant[current_option] == value
          continue
        endunless

        unless variant[other_options[0]] == current_variant[other_options[0]]
          continue
        endunless

        unless variant[other_options[1]] == current_variant[other_options[1]]
          continue
        endunless

        if variant.image
          assign variant_image_url =  variant.image | image_url: width: 100
        endif
      endfor

      assign checked = ""

      if current_variant[current_option] == value
        assign checked = 'checked="checked"'
      endif

      assign swatch_img = null
      assign swatch_color_name = value | handle | append: '.png'

      if images[swatch_color_name] != blank
        assign swatch_img = swatch_color_name | file_url
      endif

    -%}

    {% capture radio_button %}
      <input type="radio" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
          class="swatches__form--input"
          name="{{ option_name }}"
          value="{{ value | escape }}"
          form="product-form-{{ section.id }}"
          data-position="{{ option.position }}"
          {{ checked }}>
    {% endcapture %}

    {% capture sold_out_image %}
      <img class="swatches__sold-out--image crossed-out" src="{{ 'soldout.png' | asset_url }}" alt="Sold out image" />
    {% endcapture %}

    {% capture regular_swatch %}
      <div class="swatches__swatch--regular swatch-element {% unless available %}soldout{% endunless %} js-swatch-element">
        {{ radio_button }}

        <label class="swatches__form--label" for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}" tabindex="0">
          {{ value }}
          {{ sold_out_image }}
        </label>
      </div>
    {% endcapture %}

    {% capture color_swatch %}
      <div class="swatches__swatch--color swatch-element color swatches__shape--{{ color_swatch_shape }} {% unless available %}soldout{% endunless %} js-swatch-element">

        {{ radio_button }}

        <label class="swatches__form--label"
        for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
        tabindex="0"
        style="background-color: {% if product.metafields.custom.variant_color_with_hex_code != blank %} {{ product.metafields.custom.variant_color_with_hex_code }} {% else %} {{ css_color }} {%endif %};
        {% unless color_swatch_style == 'default-color' %}
          background-image: url({% if color_swatch_style == 'custom-image' %}{{ image_url }}{% elsif color_swatch_style == 'variant-image' %}{{ variant_image_url }}{% elsif color_swatch_style == 'swatch' %}{{ swatch_image_url  }}{% endif %}); background-position: center center; background-size: 50px;
        {% endunless %}">
          {{ sold_out_image }}
        </label>
      </div>
    {% endcapture %}

    {% if show_color_swatches and color_swatch_options contains option_name %}
      {{ color_swatch }}
    {% else %}
      {{ regular_swatch }}
    {% endif %}
  {% endfor %}
</div>
